{% extends 'base.html' %}

{% block title %}Отчет учителя {{ user.first_name }} 2023-2024{% endblock %}

{% block content %}
<h2>Отчеты учителя 2023-2024</h2>
<form method="post">
    {% csrf_token %}
    {% for main_indicator in main_indicators %}
        <h3>{{ main_indicator.name }}
            {% for i in sum %}
                {% if i.main_indicator.id == main_indicator.id %}
                    {{ i.total_actual_2023_2024 }}
                {% endif %}
            {% endfor %}
        </h3>

        <ul>
            {% for indicator in main_indicator.indicator_set.all %}
                <li>
                    <label>
                        {{ indicator.name }}
                    </label>

                    <!-- Извлекаем отчет для текущего индикатора -->
                    {% for i in report_data %}
                        {% if i.id == indicator.id %}
                            {% with report_item=i %}
                                <input type="number" name="actual_2023_2024_{{ indicator.id }}" value="{{ report_item.actual_2023_2024|default:0 }}">
                            {% endwith %}
                        {% else %}
                                {% if i.indicator.id == indicator.id %}
                                    {% with report_item=i %}
                                        <input type="number" name="actual_2023_2024_{{ indicator.id }}" value="{{ report_item.actual_2023_2024|default:0 }}">
                                    {% endwith %}
                                {% endif %}
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    <button type="submit">Сохранить</button>
</form>
{% endblock %}
