{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/login/register.css' %}">
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Регистрация</button>
        </form>
        <p>Уже зарегистрированы? <a href="{% url 'login' %}">Войти</a></p>
    </div>
</body>
</html>
