/* Общие стили для всей страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box; /* Включаем box-sizing для удобства */
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 50px auto; /* Объединяем отступ сверху и снизу */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form p {
    margin: 15px 0 0;
    text-align: center;
}

form a {
    color: #007bff;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* Убедитесь, что padding и border включены в ширину элемента */
}

/* Мобильные стили */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    form input, form select, form textarea {
        font-size: 14px;
    }
}
